/**********************************
Common styles
***********************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 3%;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

body {
  background-color: #fff;
  color: #565252;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
  /*Обеспечивает лучшую читаемость*/
  text-rendering: optimizeLegibility;
}

h1 {
  margin: 0px;
}

h2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-align: center;
  margin-bottom: 30px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e93c2a;
  content: "";
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
}

section {
  padding: 80px 0px;
  clear: both;
}

/**********************************
Header styles
***********************************/

header {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(100, 100, 100, 0.1)
    ),
    url(../images/header-background-image.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header-text {
  padding-top: 200px;
}

#header-title {
  max-width: 60%;
  margin-left: 8.33%;
  background: rgba(255, 255, 255, 0.65);
  padding: 15px 30px;
  text-transform: uppercase;
  color: #171717;
  letter-spacing: 0.17em;
  font-size: 2.8em;
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
  border-radius: 100px;
}

#header-buttons {
  margin-top: 20px;
  margin-left: 8.33%;
  padding: 15px 0px;
}

#logo-text {
  float: left;
  margin-left: 30px;
  font-size: 0.8em;
}

#logo-text a {
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
  letter-spacing: 8px;
}

#logo-image {
  height: 70px;
  width: auto;
  float: left;
  margin-left: 15px;
}

#main-nav {
  float: right;
  list-style: none;
}

#main-nav li {
  display: inline-block;
  margin-right: 30px;
  font-size: 0.8em;
}

#main-nav li a:link,
#main-nav li a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #171717;
  letter-spacing: 4px;
  padding: 10px 10px;
}

#main-nav li a:hover {
  background: #e93c2a;
  color: #fff;
  border-radius: 50px;
  transition: background 0.3s, color 0.3s;
}

#main-nav li a:active {
  background: #e93c2a;
  color: #fff;
  border-radius: 13px;
  transition: border-radius 0.1s;
}

nav {
  background: #fff;
  height: 70px;
  padding: 25px;
}

/**********************************
Button styles
***********************************/

.button:link,
.button:visited {
  display: inline-block;
  padding: 10px 30px;
  margin-right: 20px;
  text-decoration: none;
  color: #e93c2a;
  background: #fff;
  border-radius: 150px;
  transition: background-color 0.3s, border 0.3s;
}

.button-order:link,
.button-order:visited {
  color: #fff;
  background: #e93c2a;
  border: 1px solid #e93c2a;
}

.button-order:hover {
  color: #fff;
  background: #ac2012;
  border: 1px solid #ac2012;
}

.button-order:active {
  color: #fff;
  background: #7e180d;
  border: 1px solid #7e180d;
}

.button-more:link,
.button-more:visited {
  border: 1px solid #e93c2a;
  background: rgba(255, 255, 255, 0.5);
}

.button-more:hover {
  border: 1px solid #e93c2a;
  background: rgba(255, 255, 255, 0.7);
}

.button-more:active {
  border: 1px solid #e93c2a;
  background: rgba(255, 255, 255, 1);
}

/**********************************
Features Styles
***********************************/

#headline-text {
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 100%;
}

#features-icon {
  font-size: 64px;
  color: #e93c2a;
  width: 100%;
  margin-bottom: 20px;
}

section p {
  font-size: 90%;
  font-weight: 400;
}

#info-column {
  text-align: justify;
  padding: 20px 20px;
}

/**********************************
Food Images Styles
***********************************/

.images-container {
  list-style: none;
  width: 100%;
}

.images-container li {
  display: block;
  float: left;
  width: 25%;
}

.food-image {
  width: 100%;
  overflow: hidden;
  background: #000;
}

.food-image img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.2);
  transition: transform 0.5s, opacity 0.5s;
}

.food-image img:hover {
  transform: scale(1.05);
  opacity: 1;
}
/**********************************
How To Order Styles
***********************************/

#phone-image {
  width: 100%;
}

#phone-image-container {
  margin-left: 10%;
  margin-right: 6.65%;
}

.order-step {
  margin-top: 150px;
}

.order-step div {
  color: #e93c2a;
  border: 1px solid #e93c2a;
  width: 50px;
  height: 50px;
  border-radius: 150px;
  text-align: center;
  padding: 7px;
  font-size: 150%;
  /* display: inline-block; */
  float: left;
  margin-right: 20px;
}

.order-step p {
  padding-top: 0px;
  font-size: 150%;
}

.order-step:last-of-type {
  margin-bottom: 100px;
}

.app-button img {
  height: 70px;
  width: auto;
  margin-right: 10px;
}

/**********************************

***********************************/
